.hidden {
    display: none;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: arial;
    font-size: 90%;
}

.container {
    width: 1610px;
    height: auto;
    overflow: hidden;
}

.rightPanel {
    width: 1210px;
    float: right;
    background: #FFFFFF;
}
.leftPanel {
    float: left;
    background: #e8f6fe;
    width: 400px;
    overflow: hidden;
}
.containerInner {
    width: 1210px;
    height: auto;
    overflow: hidden;
}
.rightPanelInner {
    width: 400px;
    float: right;
    background: #FFFFFF;
}
.leftPanelInner {
    float: left;
    background: #e8f6fe;
    width: 800px;
    overflow: hidden;
}